asgiref==3.5.2
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
charset-normalizer==2.1.1
cons==0.4.5
Django==4.1.1
django-cors-headers==3.13.0
gunicorn==19.9.0
idna==3.4
jsonschema==4.17.0
logical-unification==0.4.5
multipledispatch==0.6.0
mysql-connector-python==8.0.31
mysql-connector-python-rf==2.2.2
numpy==1.23.5
pandas==1.5.1
protobuf==3.20.1
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
toolz==0.12.0
urllib3==1.26.13
whitenoise==4.1.2
