body {
    background: #DAEBFE;
}

.BruinPlanner {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.Sidebar {
    margin-left: 50px;
    display: flex;
    display: inline-block;
    overflow: scroll;
    scrollbar-color: white;
    scrollbar-width: 10px;
    /* width: 12vw; */
    height: 100vh;

    justify-content: right;
    position: relative;

}

.sidebar-button {}

.display-linebreak {
    font-family: Montserrat;
    font-style: normal;
    padding-left: 10px;
    width: 80%;
    white-space: pre-line;
}

.save-button {
    width: 19vw;
    height: 73.86px;
    background: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25.7902px;
    line-height: 31px;
    border: none;
    border-radius: 3.68431px;
    /* text-transform: uppercase; */
    color: #005587;
    box-shadow: 0px 0px 11.0283px #8BB8E8;
    margin-top: 10px;
}
.save-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px #8BB8E8;;
    /* Lowering the shadow */
}