.Sidebar {
    /* border-radius: 1.5vw; */
    display: flex;
    display: inline-block;
    flex-grow: 2;
    overflow: scroll;
    width: 15vw;
    height: 100vh;
  
    justify-content: center;
    
  
    position: relative;

    background: #a7c0dd;
  
}


.ClassList {
    /* display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
    grid-gap: 1em; */
    overflow: scroll;
    display: flex;
    gap: 5px;
    margin: 3%;
    flex-direction: column;
    
    /* max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden; */
}