.dars-page-container {
  margin-top: 1vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
} */

.new-template-container {
  width: 40%;
  padding-left: 145px;
  position: relative; 

}
.yearLabel {
  font-family: 'Montserrat';
  font-style: 'normal';
  font-weight: '500';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);

}

.yearInput {
  padding-left: 10px;
  font-family: 'Montserrat';
  font-style: 'normal';
  font-weight: '500'; 
  line-height: '37px'; 
}


.dars-bg {
  display: block;
  width: 75%;
  position: absolute;
}

.dars-button-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.welcome-message {
  position: relative;
  text-align: center;
  font-family: 'Montserrat';
  font-style: 'normal';
  font-weight: 500;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.54);
}