body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.dars-upload-container {
  margin-top: 1vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.instructions {
  text-align: center;
  /* list-style-position: inside; */

}
.dars-bg {
  display: block;
  width: 75%;
  position: absolute;
}

.dars-button-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.instructions {
  position: relative;
  text-align: left;
  font-family: 'Montserrat';
  font-style: 'normal';
  color: '#757575';
  font-weight: 500;
}