.dars-page-container {
  margin-top: 1vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-template-container {
  width: 50%;
  margin-left: 200px;
  margin-bottom: 10px;
  position: relative; 
  justify-content: center;

}
.yearLabel {
  font-family: 'Montserrat';
  font-style: 'normal';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}


.dars-bg {
  display: block;
  width: 75%;
  position: absolute;
}

.dars-button-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.welcome-message {
  position: relative;
  text-align: center;
  font-family: 'Montserrat';
  font-style: 'normal';
  font-weight: 500;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.54);
}